[submodule "modules/stream"]
	path = modules/stream
	url = https://github.com/virgo-agent-toolkit/luvit-stream
[submodule "modules/tape"]
	path = modules/tape
	url = https://github.com/virgo-agent-toolkit/luvit-tape
